<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/twitter-bootstrap/js/bootstrap.js"></script>
 </head>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">

            @Html.Partial("MenuList")
             
            <div class="col py-3">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
