
<h1>Yazar Listesi</h1>
<hr />
<table class="table table-dark table-hover">
    <thead>
        <th>No</th>
        <th>Adı</th>
        <th>Soyadı</th>
        <th>Adresi</th>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>HİKMET</td>
            <td>CANLI</td>
            <td>İSTANBUL</td>
        </tr>
        <tr>
            <td>2</td>
            <td>MEHMET AKİF</td>
            <td>ERSOY</td>
            <td>İSTANBUL</td>
        </tr>
    </tbody>
</table>
