@using Hafta3.Models

@model List<Yazarlar>

<h1>Yazar Listesi</h1>
<hr />
<table class="table table-dark table-hover">
    <thead>
        <th>No</th>
        <th>Adı</th>
        <th>Soyadı</th>
        <th>Adresi</th>
    </thead>
    <tbody>
        @foreach(var dr in Model)
        {
            <tr>
                <td>@dr.No</td>
                <td>@dr.Ad</td>
                <td>@dr.Soyad</td>
                <td>@dr.Adres</td>
            </tr>
        }
         
    </tbody>
</table>
